---
import ExperencieItem from "./ExperencieItem.astro";

const EXPERIENCE = [
    {
        date: "Currently...",
        title: "Freelance Web Developer",
        description:
            "Currently I work on client projects, such as static pages, web applications, designs for a user experience.",
        link: "#",
    }, //PON QUE ESTOY CURSANDO PRACTICAS PROFESIONALES EN LA EMPRESA DE DILATO INFOTECHT SIGUIENDO METODOLOGIAS AGILES DE SCRUM COMO FULL STACK
    {
        date: "September 2024 - Currently",
        title: "Dilato Infotech",
        description:
            "I am currently doing my professional practices at the company Dilato Infotech, where I am working as a full stack developer.",
        link: "https://dilato.com/",
    },

    {
        date: "December 2023 - January 2024.",
        title: "Hotel La Costa ",
        description:
            "We worked for the company Hotel La Costa and during this time we developed a system for total hotel management.",
        link: "https://costaensenada.com/",
    },
    {
        date: "August 2023 - December 2023",
        title: "Sales Management System",
        description:
            "Working for a salen system in the university in 6th semester os the Software Engineering Program",
        link: "",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-8 ms-4">
                <ExperencieItem {...experience} />
            </li>
        ))
    }
</ol>
